:root {
  text-decoration: none;
  list-style: none;
}

.all_section {
  display: flex;
  flex-direction: row-reverse;
}
.window {
  background-color: rgb(232, 209, 209);
  color: rosybrown;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 4rem;
}
.results {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: rosybrown;
  color: snow;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 40px;
}

.form {
  margin: 20px;
  padding: 10px;
}
.input_form {
  border-radius: 10px;
  border: 1px solid rosybrown;
  margin: 3px;
  height: 30px;
}

::placeholder {
  color: saddlebrown;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-size: 12px;
  padding: 3px;
}

.msj_js {
  color: whitesmoke;
}
.title_js {
  padding: 10px;
  text-align: left;
}

.js-serie {
  border: 3px solid 2px black;
}

.favorites {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: snow;
  color: rosybrown;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 40px;
}
